<!DOCTYPE html>
<html lang="en" ng-app="Voosia">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Voosia Site">
    <meta name="author" content="Saminu Salisu - Quiddi.com-">

    <title>Voosia | Your highway to finance</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/title_icon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/animate-custom.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Kalam' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>


</head>

<body>
<header>
    <div class="container">
        <div class="row topbar">
            <div class="col-md-4 pull-left no-lr-padding">
                <a href="index.html"><img class="logo" src="assets/img/logo-01.svg"
                                          alt="Voosia | Your Highway to Finance"></a>
            </div>
            <div class="col-md-5">
            </div>
            <div class="hidden-xs col-md-3 no-lr-padding pull-right">
                <div class="badges">
                    <div class="">
                        <img class="img-responsive review-rating" src="assets/img/review-center-stars.png">
                        <!--<img class="img-responsive review-rating" src="assets/img/trust-pilot-review.png">-->
                    </div>
                </div>
                <div class="badges hidden">
                    <div class="">
                        <span class="badges__output">&pound;<span class="numerator_unstable">23,741,465</span></span>
                        <span class="badges__caption">finance taken out last month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <nav class="nav navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="clearfix list-inline">
                        <li><a class="navbar-brand" href="index.html"><img class="" src="assets/img/Voosia_logo.png"
                                                                           alt="Vooisa | Your Highway to Finance"></a>
                        </li>
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="how-it-works.html">How it Works</a></li>
                        <li><a href="faqs.html">FAQ's</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
               <span class="phone_number hidden">
                   <p class="navbar-text glyphicon glyphicon-earphone"
                      style="margin-left: 80px; color: darkgray; font-weight: normal; font-size: 1.0em; ">
                       ...03302232899</p>
               </span>
                    <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li class="active">-->
                    <!--<button type="button"  onclick="window.location='apply.html';"-->
                    <!--class="btn btn-default navbar-btn hidden-xs hidden-sm">Sign in-->
                    <!--</button>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="dropShadow"></div>
    </div>

</header>

<!-- ==== Above Fold ==== -->
<div class="spacer"></div>
<div class="container">
<div class="row">
<div class="col-md-7 ">
    <div class="row">
        <div class="col-md-12 t-padding">
            <h1 class="f-light">FAQ's</h1>
        </div>

        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse">
                                How do I know if I am eligible for a loan?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            To be eligible for a loan, you must be over 18 and in full or part time employment and living in the UK                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                How do I apply for a loan?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Simply press the ‘apply now’ button and fill out the simple online application form. We will give you a decision within seconds
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                How much can I borrow?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            You can borrow from £1000 to £3000 for a min of one month to a maximum period of 24 month
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                How much will I have to pay back for my loan?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            The amount you will have to pay back will depend on the lender you are matched with and the amount and duration of your loan. Please refer to the representative APR example on the home page to give you an average example.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                What can I use the loan for?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            We do not put restrictions on what you can use the loan for. Buying, owning and servicing a car are just some of the needs you may have although over time there may be others.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                How long does it take for the loan to reach my bank account
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Approved loans will normally be in your bank account the same day you apply for them and with some lenders this could take upto 5mins. However it will depend on your bank and the lender as to when the exact time is that the money reaches your account. Please ensure you give accurate bank details as this will speed up the process.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                How do I repay the loan
                            </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            Repayment of the loan is automatically taken by direct debit or from your debit card at the agreed date. You do not have to do anything or fill in any forms.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                Is it secure?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse">
                        <div class="panel-body">
                            Yes it is 100% secure and encrypted to bank standards.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                Are there any upfront fees?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse">
                        <div class="panel-body">
                            There are no upfront fees when applying for a loan via Voosia; our loan matching service is free. Voosia receives a commission from the lenders and brokers that we refer you to.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                What do you mean you provide a matching service?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse">
                        <div class="panel-body">
                            Voosia is a loan broker so we introduce you to one of our extensive panel of lenders or brokers to see if they are able to provide you with a loan. If you are matched successfully with one of our panel of lenders then you are provided with the opportunity of entering a borrowing agreement with that specific lender. Please be sure to consider all of the information provided to you by any lender before deciding to take out a loan. In particular you should read the lender’s website and loan documents to help you decide whether the loan is appropriate for your circumstances.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                What are the complications of making a payment late or missing a payment altogether?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse10" class="panel-collapse collapse">
                        <div class="panel-body">
                            We work with numerous lenders all of which have their own practices and distinct loan agreement terms and conditions. However, the consequences of non-payment can include:
                            <ul>
                            <li>Making it more difficult for you to obtain credit in the future or having to pay default charges to the lender.</li> 
                            <li>Paying more for your credit by extending the term of the loan and therefore the period for which you pay interest.</li> 
                            <li>Reports being made to a credit reference agency.</li>
                            </ul>
                            So be sure to read carefully the terms outlined by the lender you have been matched with. If you are likely to miss or have any problems making a payment you should contact the lender directly.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                Do the lenders on Voosia panel comply with any responsible lending practices?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            We work with an extensive and growing panel of lenders; all of which are contractually committed to Responsible Lending. All lenders that we work with are committed to:
                            <ul>
                            <li>Ensuring that any loan offered is specific to the borrowing needs of customers</li> 
                            <li>Assessing each customer individually as to whether they are able to repay a loan;  </li> 
                            <li>Providing clear loan documents and agreements as well as clear lines of communication.</li>
                            <li>Maintaining high levels of customer service and satisfaction.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                                Does Voosia decide if I can renew my loan?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse">
                        <div class="panel-body">
                            As a broker we are not involved with the decision to renew your loan. Voosia  works with numerous lenders all of whom have their own specific renewal policies. We encourage you to read the loan agreement terms and conditions specified by the lender we match you with carefully. Should you have any questions or if you need to renew your loan, please kindly contact the lender you are matched with directly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 greywrap">
            <div class="panel panel-success promise">
                <h1 class="panel-heading"><span class="badges__output">Our Promise to you</span></h1>

                <div class="panel-body">
                    <ol class="hidden">
                        <li><span>No</span>

                            <p>application fees</p></li>
                        <li><span>No</span>

                            <p>fast funding fee</p></li>
                        <li><span>No</span>

                            <p>monthly account charges</p></li>
                        <li><span>No</span>

                            <p>collection fees

                            </p>
                        </li>
                    </ol>
                    <Ol class="text-left">
                        <li class="glyphicon glyphicon-send"><P>Fast <strong>loan</strong> decision</P></li>
                        <li class="glyphicon glyphicon-user"><P>Our <strong>customers</strong> come first</P></li>
                        <li class="glyphicon glyphicon-globe"><P>Every application <strong>considered!</strong></P></li>
                        <li class="glyphicon glyphicon-gbp"><P>Funds to you <strong>'faster'</strong> than anyone else
                        </P>
                        </li>
                        <li class="glyphicon glyphicon-thumbs-up"><P><strong>Best</strong> chance of getting a loan
                            through
                            us</P>
                        </li>
                    </Ol>
                </div>
                <!--<div class="text-center">-->
                    <!--<a href="apply.html">-->
                        <!--<button type="submit" class="btn btn-default button-apply ">Apply Now</button>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<div class="col-md-5 "><!-- Slider Menu -->
    <div class="cashnow_out" ng-controller="Sideform">
        <form action="apply.html" class="cashnow form-horizontal" role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div><label class="" for=""><h1><strong>Cash Now</strong>&nbsp;Form</h1></label>
                            <span class="pull-right fa fa-lock"></span>
                        </div>
                        <div class="help-block">Apply now for an instant decision - 24/7 - guaranteed!</div>
                        <div class="spacer"></div>
                    </div>

                    <div id="mobile_selector" class="hidden-lg hidden-md row ">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <select name="amount_select" class="form-control">
                                <option value="1">£1000</option>
                                <option value="2">£1500</option>
                                <option value="3">£2000</option>
                                <option value="4">£2500</option>
                                <option value="5">£3000</option>
                                <!--<option value="6">£3500</option>-->
                                <!--<option value="7">£4000</option>-->
                                <!--<option value="8">£4500</option>-->
                                <!--<option value="9">£5000</option>-->
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <select name="duration" class="form-control">
                                <option value="0">12 Months</option>
                                <option value="0">15 Months</option>
                                <option value="0">18 Months</option>
                                <option value="0">21 Months</option>
                                <option value="0">24 Months</option>
                            </select>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm">
                        <label class="" for="">I would like to borrow:</label>
                        <input type="text" id="borrow" readonly class="slider_value pull-right"
                               style="text-align: right;">

                        <div id="slider2" class="slider_effect" style="
                        background-color:forestgreen; background-image:none; color: #000000; height: 8px"
                                ></div>
                        <div class="spacer"></div>
                        <label class="" for="">I would like to repay it over:</label>
                        <input type="text" id="amount" readonly class="slider_value pull-right"
                               style="text-align: right;">

                        <div id="slider" class="slider_effect" style="
                        background-color:forestgreen; background-image:none; color: #000000; height: 8px"></div>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-md-6 col-sm-6" style='padding-right: 10px;'>
                    <label class="hidden" for="firstname">First Name</label>
                    <input ng-model="firstname" autofocus type="text" class="form-control" placeholder="First Name" id="firstname" name="firstname" autocomplete="off">
                </div>
                <div class="col-md-6 col-sm-6" style='padding-left: 10px;'>
                    <label class="hidden" for="lastname">Last Name</label>
                    <input ng-model="lastname" type="text" class="form-control" placeholder="Last Name" id="lastname" name="lastname" autocomplete="off">
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-md-6 col-sm-6" style='padding-right: 10px;'>
                    <label class="hidden" for="phoneno">Phone No</label>
                    <input type="tel" class="form-control" placeholder="Mobile Number" id="phoneno" name="phoneno" autocomplete="off">
                </div>
                <div class="col-md-6 col-sm-6" style='padding-left: 10px;'>
                    <label class="hidden" for="email">Email</label>
                    <input style="text-transform: lowercase" id="email" name="email" type="email" class="form-control"
                           placeholder="name@example.com" autocomplete="off">
                    <!-- <span class="hidden glyphicon glyphicon-info-sign"></span>&nbsp<span class="hidden small">If this is not correct, your loan may be delayed.</span>-->
                </div>
                <div class="col-md-12"><span class="glyphicon glyphicon-info-sign"></span>&nbsp<span
                        class="small">If this is not correct, your loan may be delayed.</span>
                </div>
                <div class="col-md-12">
                    <div class=" checkbox">
                        <label class="small">
                            <input type="checkbox" checked><span><p>We would like to keep you informed by
                            telephone, post,
                            SMS or email of selected products and services available from us and our carefully
                            chosen suppliers if you don't wish us to do so, please untick.</p></span>
                        </label>
                    </div>
                    <div class="text-center">
                        <button value="apply.html"
                                class="btn btn-default button-apply ">Apply Now
                        </button>
                        <p class="text-center"><b>Representative APR 39.5%*</b></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
<div class="spacer"></div>
<div class="row">
    <div class="col-md-12 text-center">
        <img src="assets/img/secure-logos-01.svg">
    </div>
</div>
<div class="row no-bottom-padding">
    <div class="col-md-12"><!--Below Form Side Bar-->
        <div class="text-left panel panel-success" name="whychooseus">
            <h1 class="panel-heading"><span class="badges__output">Why Choose Us?</span></h1>

            <div class="panel-body">
                <ul>
                    <li><span>&#10004;</span>&nbsp;Over 2 million applications processed</li>
                    <li><span>&#10004;</span>&nbsp;Super fast technology matches you with lenders in seconds -
                        Instant decision: 24/7
                    </li>
                    <li><span>&#10004;</span>&nbsp;No paperwork, ever</li>
                    <li><span>&#10004;</span>&nbsp;No application fees</li>
                    <li><span>&#10004;</span>&nbsp;No monthly account charges</li>
                    <li><span>&#10004;</span>&nbsp;No postal charges</li>
                    <li><span>&#10004;</span>&nbsp;Same day cash²</li>
                    <li><span>&#10004;</span>&nbsp;All data is secure and encrypted</li>
                    <li><span>&#10004;</span>&nbsp;9/10 customers recommend Voosia</li>
                </ul>
            </div>
            <!--<h1 class="panel-heading"><span class="badges__output"><strong>&pound;23,741,465</strong></span>-->
                <!--Approved</h1>-->

            <div class="text-center">
                <a href="apply.html">
                    <button type="submit" class="btn btn-default button-apply ">Apply Now</button>
                </a>
                <p class="text-center"><b>Representative APR 39.5%*</b></p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- ==== Below Fold ==== -->
</div>
</div>
<footer>
    <div class="container">
        <div class="row footerwrap social">
            <h3>Connect with us socially</h3>

            <div class="col-md-2"></div>
            <div class="col-md-2 col-sm-6">
                <a href="//twitter.com/voosiauk"><span class="fa fa-twitter-square twitter"></span></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="//www.facebook.com/pages/Voosia/1491538304458818"><span class="fa fa-facebook-square facebook"></span></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#"><span class="fa fa-google-plus-square googleplus"></span></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <span class="fa fa-question" onclick="window.location='contact.html'"></span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="social_2">
            <div class="row">
                <div class="col-md-6">
                    <span class="small"><a href="terms.html">Terms & conditions</a></span>
                    <span>|</span>
                    <span class="small"><a href="privacy.html">Privacy policy</a></span>
                    <span>|</span>
                    <span class="small"><a href="contact.html">Contact</a></span>
                </div>
                <div class="col-md-6">
                    <p class="fa fa fa-certificate small">
                        Company number: 07677977,
                        FCA Number: 740572<br>
                        Data Protection: Z2787055.
                    </p>

                    <p class="fa fa-map-marker small">
                        <span class="dynamic-address-quiddihub"></span>
                    </p><br>

                    <p class="fa fa fa-envelope small">
                        support@voosia.com
                    </p>
                </div>
            </div>
        </div>
        <div class="row footerwrap">
            <div class="col-md-12">
                <p class="text-center">
                    © Voosia.co.uk is a registered Trading name of Quiddi Limited which is an Appointed Representative
                    of QV Holdco Ltd, and is entered on the Financial Services Register under reference number: 740572.
                    QV Holdco Ltd is authorised and regulated by the Financial Conduct Authority and is entered on the
                    Financial Services Register under reference number: 672826 <br>
                    Quiddi Limited is registered in England and Wales Company number: 07677977, registered office; 44-46
                    Windsor Road, Slough, SL1 2EJ, UK and Licensed by the Information Commissioners Office (registration
                    number: ZA141869)<br>

                     The operator of this website is not an agent or representative of consumers or any
                    lender and does not endorse the services offered by specific lenders. Quiddi Limited does not charge
                    borrowers a fee for the use of the brokerage services, but it receives a commission from lenders or
                    other brokers where borrowers enter into a consumer credit agreement with lenders and brokers
                    following
                    an introduction through this website. As a broker we process the information you provide us and pass
                    this onto our trusted third party lenders and brokers to help you apply for a loan. For more
                    information
                    on how we handle your data see our Privacy Policy. ¹ Subject to application being approved by the
                    lender. Not all lenders are able to provide up to £3000. ² Upon acceptance of the loan offer and
                    entry
                    into an agreement with the lender, the lender will transfer the cash within 24 hours. Clearance of
                    the
                    funds is dependent on whether your bank accepts faster payments.
                      </p>
            </div>
        </div>
    </div>
</footer>
<!--Slider Script start-->
<script src="libs/angular/angular.js"></script>
<script src="libs/ngstorage/ngStorage.js"></script>
<script src="js/readFromStorage.js"></script>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/jquery-ui/jquery-ui.min.js"></script>
<script src="libs/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script src="libs/jQuery-Storage-API/jquery.storageapi.min.js"></script>

<script type="text/javascript" src="assets/js/slider.js"></script>
<script type="text/javascript" src="libs/jquery-numerator/jquery-numerator.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--Cookie Script start-->
<script type="text/javascript" src="assets/js/jquery.cookiesdirective.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.cookiesDirective({
            privacyPolicyUri: 'privacy.html',
            duration: 5,
            position: 'bottom',
            explicitConsent: false
        });
    });
</script>
<!--Cookie Script end-->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/sitewide.js"></script>


<script src="//lookup.identi-k.it/static/dynamicContentLookup.js" type="text/javascript"></script>


</body>
</html>
