<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Voosia Site">
    <meta name="author" content="Saminu Salisu - Quiddi.com-">

    <title>Voosia | Your highway to finance</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/title_icon.png"/>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/animate-custom.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Kalam' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
</head>

<body>
<header>
    <div class="container">
        <div class="row topbar">
            <div class="col-md-4 pull-left no-lr-padding">
                <a href="index.html"><img class="logo" src="assets/img/logo-01.svg"
                                          alt="Voosia | Your Highway to Finance"></a>
            </div>
            <div class="col-md-5">
            </div>
            <div class="hidden-xs col-md-3 no-lr-padding pull-right">
                <div class="badges">
                    <div class="">
                        <img class="img-responsive review-rating" src="assets/img/review-center-stars.png">
                        <!--<img class="img-responsive review-rating" src="assets/img/trust-pilot-review.png">-->
                    </div>
                </div>
                <div class="badges hidden">
                    <div class="">
                        <span class="badges__output">&pound;<span class="numerator_unstable">23,741,465</span></span>
                        <span class="badges__caption">finance taken out last month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <nav class="nav navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="clearfix list-inline">
                        <li><a class="navbar-brand" href="index.html"><img class="" src="assets/img/Voosia_logo.png"
                                                                           alt="Vooisa | Your Highway to Finance"></a>
                        </li>
                    </ul>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class=" collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="how-it-works.html">How it Works</a></li>
                        <li><a href="faqs.html">FAQ's</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
               <span class="phone_number hidden">
                   <p class="navbar-text glyphicon glyphicon-earphone"
                      style="margin-left: 80px; color: darkgray; font-weight: normal; font-size: 1.0em; ">
                       ...03302232899</p>
               </span>
                    <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li class="active">-->
                    <!--<button type="button"  onclick="window.location='apply.html';"-->
                    <!--class="btn btn-default navbar-btn hidden-xs hidden-sm">Sign in-->
                    <!--</button>-->
                    <!--</li>-->
                    <!--</ul>-->
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="dropShadow"></div>
    </div>

</header>

<!-- ==== Above Fold ==== -->
<div class="spacer"></div>
<div class="container">
    <div class="row">
        <div class="col-md-7 ">
            <div class="row">
                <div class="col-md-12 t-padding">
                    <h1 class="f-light">Terms and Conditions</h1>
                </div>
                <div class="col-md-12 text-left">
                    <h2>1. Terms of website use</h2>

                    <p><strong>1.1.</strong> This page (together with the documents referred to on it) represents the
                        Terms and Conditions of Use ("Terms of Use") on which you may make use of our websites
                        www.Voosia.com (the "Sites") which is owned, operated, licensed, and controlled by Holdco Ltd,
                        Registered in England and Wales (Company number:
                        07677977), Registered Office: <span class="dynamic-address-quiddihub"></span>, authorised and
                        regulated
                        by the Financial Conduct Authority under the Financial Registration Number: 672826 and Licensed
                        by
                        the Information Commissioners Office (registration number: ZA141869) (referred to herein as the
                        “Company”, “we”, “us” and “our”). The term "You" refers to the users and viewers of our Sites.
                    </p>

                    <p><strong>1.2.</strong> Please read these Terms of Use carefully before using our Sites.</p>

                    <p><strong>1.3.</strong> By using our Sites, you indicate that you accept these Terms of Use and
                        that you agree to be bound by them. If you do not agree to these Terms of Use, please do not use
                        our Sites.</p>

                    <h2>2. Information about us</h2>

                    <p><strong>2.1.</strong> The Company is registered in England and Wales with company number 07677977
                        and its registered office is at <span class="dynamic-address-quiddihub"></span></p>

                    <p><strong>2.2.</strong> The Company is a service business carrying out the business of credit
                        brokerage in the United Kingdom. The Company does not make loans or credit decisions.</p>

                    <p><strong>2.3.</strong> We are regulated by the Financial Conduct Authority and entered on the
                        Financial Services Register under interim permissions number: 0645792.</p>

                    <p><strong>2.4.</strong> We are registered with the Information Commissioner's Office in compliance
                        with the Data Protection Act of 1998. Our registration number is Z3404270.</p>

                    <h2>3. Services</h2>

                    <p><strong>3.1.</strong> The Company's services include, but are not limited to, advertising other
                        companies' credit offerings and effecting introductions between potential borrowers and lenders
                        or other credit brokers in respect of secured and unsecured loans (the "Services"). In order to
                        request a consumer credit loan from a selection of lenders, the Company invites you to complete
                        an Application Form and transmits this completed Application Form to lenders and/or third
                        parties (the "Advertising Partners").</p>

                    <p><strong>3.2.</strong> The Company does not guarantee that completing an Application Form will
                        result in you receiving a loan offer. Your request is not an application for credit from a
                        specific lender or lenders but an expression of your interest in such products. Individual
                        lenders may require you to complete their own application process and are solely responsible for
                        deciding whether and on what terms to lend to you. Any examples of loan terms on our website are
                        for illustrative purposes only. </p>

                    <p><strong>3.3.</strong> The Company does not charge you any fees for the provision of the Services.
                        If we provide services other than the Services we shall be entitled to charge a fee for those
                        services. The Company will generally receive a brokerage fee from its Advertising Partners for
                        the provision of the Services.</p>

                    <p><strong>3.4.</strong> The Company is not a party to any contract made between you and the
                        Advertising Partners for loans. All rights and obligations under the terms of the contract for a
                        loan are solely between you and the relevant lender.</p>

                    <h2>4. Credit checks on completion of an application form</h2>

                    <p><strong>4.1.</strong> By completing the Application Form you authorise the Company to transmit
                        your Application Form to our Advertising Partners.</p>

                    <p><strong>4.2.</strong> By submitting an Application Form you authorise our Advertising Partners to
                        take all such steps as are deemed necessary to independently verify any and all information
                        contained in your Application Form and check your credit worthiness. You understand that these
                        checks may include contacting Credit Reference Agencies (CRAs), fraud and money laundering
                        preventing agencies and the electoral register as well as providing them with information about
                        you.</p>

                    <p><strong>4.3.</strong> By submitting the Application Form you acknowledge that we will acquire and
                        transfer your personal data to our Advertising Partners for the provision of the Services and
                        you consent to our acquisition, control and processing/transfer of your personal data in
                        accordance with the terms of our <a href="privacy.html">Privacy Policy</a> (see also section 8
                        below 'Privacy').</p>

                    <p><strong>4.4.</strong> We do not act on behalf of the Advertising Partners or represent them.</p>

                    <h2>5. Accessing our site</h2>

                    <p><strong>5.1.</strong> Access to our Sites is permitted on a temporary basis, and we reserve the
                        right to withdraw or amend the service we provide on our Sites without notice (see below). We
                        will not be liable if for any reason our Sites is unavailable at any time or for any period.</p>

                    <p><strong>5.2.</strong> From time to time, we may restrict access to some parts of our Sites, or
                        the entirety of our Sites, to users who have registered with us.</p>

                    <p><strong>5.3.</strong> If you choose, or you are provided with, a user identification code,
                        password or any other piece of information as part of our security procedures, you must treat
                        such information as confidential, and you must not disclose it to any third party. We have the
                        right to disable any user identification code or password, whether chosen by you or allocated by
                        us, at any time, if in our opinion you have failed to comply with any of the provisions of these
                        Terms of Use.</p>

                    <p><strong>5.4.</strong> You are responsible for making all arrangements necessary for you to have
                        access to our Sites. You are also responsible for ensuring that all persons who access our Sites
                        through your internet connection are aware of these terms, and that they comply with them. </p>

                    <h2>6. Intellectual Property</h2>

                    <p><strong>6.1.</strong> Our Sites, the content, any materials downloaded, and all intellectual
                        property pertaining to or contained on our Sites (including but not limited to copyrights,
                        patents, database rights, graphics, designs, text, logos, trade dress, trademarks and service
                        marks, (collectively "the Content") are owned by the Company or other third parties and all
                        rights, title and interest therein shall remain the property of the Company and/or such third
                        parties. All Content is protected by copyright, patent and trademark laws, and various other
                        intellectual property rights and unfair competition laws.</p>

                    <p><strong>6.2.</strong> Logos, trademarks, images, etc. are the property of the Company unless
                        otherwise noted and may not be copied, used, linked, disseminated, etc. without the Company 's
                        prior express written approval. Requests for approval should be directed to <a
                                href="mailto:support@Voosia.com">support@Voosia.com</a> or Quiddi Ltd, <span
                                class="dynamic-address-quiddihub"></span></p>

                    <p><strong>6.3.</strong> You are authorised solely to view and retain a copy of the pages of our
                        Sites for your own personal, non-commercial use. You may also view and make copies of relevant
                        documents, pages, images or other materials on our Sites for the purpose of transacting business
                        with the Company.</p>

                    <p><strong>6.4.</strong> You agree that you will not duplicate, publish, modify, create derivative
                        works from, participate in the transfer of, post on the World Wide Web, or in any way distribute
                        or exploit our Sites, or any portion of our Sites for any public or commercial use without the
                        express written consent of the Company.</p>

                    <p><strong>6.5.</strong> Additionally, you agree that you will not (i) remove or alter any author,
                        trademark or other proprietary notice or legend displayed on our Sites (or printed pages
                        produced from our Sites); and (ii) make any other modifications to any documents obtained from
                        our Sites other than in connection with completing information required to transact business
                        with the Company.</p>

                    <h2>7. Site Security</h2>

                    <p><strong>7.1.</strong> You must not misuse our Sites by knowingly introducing viruses, trojans,
                        worms, logic bombs or other material which is malicious or technologically harmful. You must not
                        attempt to gain unauthorised access to our Sites, the server on which our Sites is stored or any
                        server, computer or database connected to our Sites. You must not attack our Sites via a
                        denial-of-service attack or a distributed denial-of service attack.</p>

                    <p><strong>7.2.</strong> By breaching this provision, you would commit a criminal offence under the
                        Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement
                        authorities and we will co-operate with those authorities by disclosing your identity to them.
                        In the event of such a breach, your right to use our Sites will cease immediately.</p>

                    <p><strong>7.3.</strong> We will not be liable for any loss or damage caused by a distributed
                        denial-of-service attack, viruses or other technologically harmful material that may infect your
                        computer equipment, computer programs, data or other proprietary material due to your use of our
                        Sites or to your downloading of any material posted on it, or on any website linked to it.</p>

                    <h2>8. Privacy</h2>

                    <p><strong>8.1.</strong> The Company 's Privacy Policy applies to use of our Sites, and its terms
                        are made a part of these Terms of Use by this reference.</p>

                    <p><strong>8.2.</strong> Any personal data we process about you will be processed in accordance with
                        our <a href="privacy.html">Privacy Policy</a> and by using our Sites to transmit personal data
                        you consent to such processing and you warrant that information provided by you is accurate.
                        Please note that we may transfer your personal data to lenders outside of the European Economic
                        Area, subject to us always meeting the legal requires for such transfer as set out in the Eighth
                        Data Protection Principle of the Data Protection Act 1998.</p>

                    <p><strong>8.3.</strong> Additionally, by using our Sites, you acknowledge and agree that Internet
                        transmissions are never completely private or secure. You understand that any message or
                        information you send to our Sites may be read or intercepted by others, notwithstanding the
                        Company 's efforts to protect such transmissions.</p>

                    <h2>9. Disclaimers</h2>

                    <p><strong>9.1.</strong> The Company does not promise that our Sites or any content, document or
                        feature of our Sites will be error-free or uninterrupted, or that any defects will be corrected
                        or that your use of our Sites will provide specific results.</p>

                    <p><strong>9.2.</strong> The material on our Sites could include technical inaccuracies or
                        typographical errors. Our Sites and their content are delivered on an "as-is" and "as-available"
                        basis. All information provided on our Sites is subject to change without notice. The Company
                        cannot ensure that any files, documents or other data you download from our Sites will be free
                        of viruses or contamination or destructive features.</p>

                    <p><strong>9.3.</strong> The Company disclaims all warranties, express or implied, including any
                        warranties of accuracy, non-infringement, merchantability and fitness for a particular purpose.
                    </p>

                    <p><strong>9.4.</strong> The Company does not guarantee that submission of an Application Form will
                        result in you receiving an offer of a loan.</p>

                    <p><strong>9.5.</strong> The Company disclaims any and all liability for the acts, omissions and
                        conduct of any third parties in connection with or related to your use of our Sites. You assume
                        total responsibility for your use of our Sites and any linked sites.</p>

                    <h2>10. Our Liability</h2>

                    <p><strong>10.1.</strong> The material displayed on our Sites is provided without any guarantees,
                        conditions or warranties as to its accuracy. To the extent permitted by law, we, other members
                        of our group of companies and third parties connected to us hereby expressly exclude:</p>

                    <p><strong>10.1.1.</strong> all conditions, warranties and other terms which might otherwise be
                        implied by statute, common law or the law of equity; and</p>

                    <p><strong>10.1.2.</strong> any liability for any direct, indirect or consequential loss or damage
                        incurred by any user in connection with our Sites or in connection with the use, inability to
                        use, or results of the use of our Sites, any websites linked to it and any materials posted on
                        it, including:</p>

                    <p><strong>(i)</strong> loss of income or revenue;</p>

                    <p><strong>(ii)</strong> loss of business;</p>

                    <p><strong>(iii)</strong> loss of profits or contracts;</p>

                    <p><strong>(iv)</strong> loss of anticipated savings;</p>

                    <p><strong>(v)</strong> loss of data;</p>

                    <p><strong>(vi)</strong> loss of goodwill;</p>

                    <p><strong>(vii)</strong> wasted management or office time; and</p>

                    <p><strong>(viii)</strong> whether caused by tort (including negligence), breach of contract or
                        otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss
                        of or damage to your tangible property or any other claims for direct financial loss that are
                        not excluded by any of the categories set out above.</p>

                    <p><strong>10.2.</strong> This does not affect our liability for death or personal injury arising
                        from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as
                        to a fundamental matter, nor any other liability which cannot be excluded or limited under
                        applicable law.</p>

                    <h2>11. Indemnity</h2>

                    <p><strong>11.1.</strong> By using our Sites, you agree to defend, indemnify, and hold harmless the
                        Company from and against any and all losses, claims, damages, costs and expenses (including
                        reasonable legal and accounting fees) that the Company may become obligated to pay arising or
                        resulting from your use of our Sites, the Content, or your breach of these Terms of Use. The
                        Company reserves the right to assume or participate, at your expense, in the investigation,
                        settlement and defence of any such action or claim.</p>

                    <h2>12. Linking to and from our sites</h2>

                    <p><strong>12.1.</strong> Our Sites may contain links to sites maintained by third parties. The
                        Company is not responsible for the content or privacy policies of those sites, and the existence
                        of such links should not be considered an endorsement or recommendation of those sites or of any
                        product or service offered on those sites or of any party that is associated with those sites.
                    </p>

                    <p><strong>12.2.</strong> Please note that other websites and web pages linked to our Sites may be
                        governed by separate terms and conditions, including privacy policies. Please refer to the
                        applicable terms and conditions, including privacy policies of those websites and webpages when
                        visiting them.</p>

                    <p><strong>12.3.</strong> You may link to our home page, provided you do so in a way that is fair
                        and legal and does not damage our reputation or take advantage of it, but you must not establish
                        a link in such a way as to suggest any form of association, approval or endorsement on our part
                        where none exists.</p>

                    <p><strong>12.4.</strong> You must not establish a link from any website that is not owned by you.
                    </p>

                    <p><strong>12.5.</strong> We reserve the right to withdraw this permission without notice. Our Sites
                        must not be framed on any other site, nor may you create a link to any part of our Sites other
                        than the home page.</p>

                    <p><strong>12.6.</strong> If you wish to make any use of material on our Sites other than that set
                        out above, please address your request to <a
                                href="mailto:support@Vosia.com">support@Voosia.com</a> or Quiddi Ltd, <span
                                class="dynamic-address-quiddihub"></span></p>

                    <h2>13. Age</h2>

                    <p><strong>13.1.</strong> The services and products that we provide on our Sites are intended for
                        those over 18 years of age only, and information contained on our Sites does not amount to an
                        invitation to clients who are under 18 to buy any services or products. All transactions for the
                        supply of services concluded through our Sites are governed by the Terms of Use.</p>

                    <h2>14. Law and jurisdiction</h2>

                    <p><strong>14.1.</strong> Your use of our Sites and these Terms of Use are governed by the Laws of
                        England and Wales whose courts have exclusive jurisdiction of any disputes that may arise under
                        or in connection with the Terms of Use.</p>

                    <p><strong>14.2.</strong> However, we retain the right to bring proceedings against you for breach
                        of these Terms of Use in your country of residence or other relevant country.</p>

                    <h2>15. Miscellaneous</h2>

                    <p><strong>15.1.</strong> Any failure by the Company to exercise any rights or enforce any of these
                        Terms of Use shall not constitute a waiver of such rights or terms.</p>

                    <p><strong>15.2.</strong> If any provision of these Terms of Use or their application in a
                        particular circumstance is held to be invalid or unenforceable to any extent, the remainder of
                        these Terms of Use, or the application of such provision in other circumstances, shall not be
                        affected thereby, and each provision hereof shall be valid and enforced to the fullest extent
                        permitted by law.</p>

                    <p><strong>15.3.</strong> These Terms of Use constitute the entire agreement between you and the
                        Company with regard to your use of our Sites, and any and all other written or oral agreements
                        or understandings previously existing between you and the Company with respect to use of our
                        Sites are hereby superseded and cancelled.</p>

                    <h2>16. Your complaints</h2>

                    <p><strong>16.1.</strong> If you have a complaint, please contact us at <a
                            href="mailto:support@Voosia.com?subject=Complaints - Voosia">support@Voosia.com</a> or
                        Customer Services Team, Quiddi Ltd, <span class="dynamic-address-quiddihub"></span> United
                        Kingdom. We will investigate your complaint. We will attempt to both resolve your complaint
                        through investigation and to respond to you with the outcome.</p>

                    <p><strong>16.2.</strong> If you are not happy with our final response, you have the right to have
                        your complaint dealt with by the Financial Ombudsman Service ("FOS"). To do so, you should
                        contact FOS within 6 months of our final response to your complaint. You may write to FOS at the
                        following address: The Financial Ombudsman Service, Exchange Service, London, E14 9SR.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 "><!-- Slider Menu -->
            <div class="cashnow_out" ng-controller="Sideform">
                <form action="apply.html" class="cashnow form-horizontal" role="form" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div><label class="" for=""><h1><strong>Cash Now</strong>&nbsp;Form</h1></label>
                                    <span class="pull-right fa fa-lock"></span>
                                </div>
                                <div class="help-block">Apply now for an instant decision - 24/7 - guaranteed!</div>
                                <div class="spacer"></div>
                            </div>

                            <div id="mobile_selector" class="hidden-lg hidden-md row ">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <select name="amount_select" class="form-control">
                                        <option value="1">£1000</option>
                                        <option value="2">£1500</option>
                                        <option value="3">£2000</option>
                                        <option value="4">£2500</option>
                                        <option value="5">£3000</option>
                                        <!--<option value="6">£3500</option>-->
                                        <!--<option value="7">£4000</option>-->
                                        <!--<option value="8">£4500</option>-->
                                        <!--<option value="9">£5000</option>-->
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <select name="duration" class="form-control">
                                        <option value="0">12 Months</option>
                                        <option value="0">15 Months</option>
                                        <option value="0">18 Months</option>
                                        <option value="0">21 Months</option>
                                        <option value="0">24 Months</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm">
                                <label class="" for="">I would like to borrow:</label>
                                <input type="text" id="borrow" readonly class="slider_value pull-right"
                                       style="text-align: right;">

                                <div id="slider2" class="slider_effect" style="
                        background-color:forestgreen; background-image:none; color: #000000; height: 8px"
                                        ></div>
                                <div class="spacer"></div>
                                <label class="" for="">I would like to repay it over:</label>
                                <input type="text" id="amount" readonly class="slider_value pull-right"
                                       style="text-align: right;">

                                <div id="slider" class="slider_effect" style="
                        background-color:forestgreen; background-image:none; color: #000000; height: 8px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6" style='padding-right: 10px;'>
                            <label class="hidden" for="firstname">First Name</label>
                            <input ng-model="firstname" autofocus type="text" class="form-control"
                                   placeholder="First Name" id="firstname" name="firstname" autocomplete="off">
                        </div>
                        <div class="col-md-6 col-sm-6" style='padding-left: 10px;'>
                            <label class="hidden" for="lastname">Last Name</label>
                            <input ng-model="lastname" type="text" class="form-control" placeholder="Last Name"
                                   id="lastname" name="lastname" autocomplete="off">
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6" style='padding-right: 10px;'>
                            <label class="hidden" for="phoneno">Phone No</label>
                            <input type="tel" class="form-control" placeholder="Mobile Number" id="phoneno"
                                   name="phoneno" autocomplete="off">
                        </div>
                        <div class="col-md-6 col-sm-6" style='padding-left: 10px;'>
                            <label class="hidden" for="email">Email</label>
                            <input style="text-transform: lowercase" id="email" name="email" type="email"
                                   class="form-control"
                                   placeholder="name@example.com" autocomplete="off">
                            <!-- <span class="hidden glyphicon glyphicon-info-sign"></span>&nbsp<span class="hidden small">If this is not correct, your loan may be delayed.</span>-->
                        </div>
                        <div class="col-md-12"><span class="glyphicon glyphicon-info-sign"></span>&nbsp<span
                                class="small">If this is not correct, your loan may be delayed.</span>
                        </div>
                        <div class="col-md-12">
                            <div class=" checkbox">
                                <label class="small">
                                    <input type="checkbox" checked><span><p>We would like to keep you informed by
                                    telephone, post,
                                    SMS or email of selected products and services available from us and our carefully
                                    chosen suppliers if you don't wish us to do so, please untick.</p></span>
                                </label>
                            </div>
                            <div class="text-center">
                                <button value="apply.html"
                                        class="btn btn-default button-apply ">Apply Now
                                </button>
                                <p class="text-center"><b>Representative APR 39.5%*</b></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="assets/img/secure-logos-01.svg">
                </div>
            </div>
            <div class="row no-bottom-padding">
                <div class="col-md-12"><!--Below Form Side Bar-->
                    <div class="text-left panel panel-success" name="whychooseus">
                        <h1 class="panel-heading"><span class="badges__output">Why Choose Us?</span></h1>

                        <div class="panel-body">
                            <ul>
                                <li><span>&#10004;</span>&nbsp;Over 2 million applications processed</li>
                                <li><span>&#10004;</span>&nbsp;Super fast technology matches you with lenders in seconds
                                    -
                                    Instant decision: 24/7
                                </li>
                                <li><span>&#10004;</span>&nbsp;No paperwork, ever</li>
                                <li><span>&#10004;</span>&nbsp;No application fees</li>
                                <li><span>&#10004;</span>&nbsp;No monthly account charges</li>
                                <li><span>&#10004;</span>&nbsp;No postal charges</li>
                                <li><span>&#10004;</span>&nbsp;Same day cash²</li>
                                <li><span>&#10004;</span>&nbsp;All data is secure and encrypted</li>
                                <li><span>&#10004;</span>&nbsp;9/10 customers recommend Voosia</li>
                            </ul>
                        </div>
                        <!--<h1 class="panel-heading"><span class="badges__output"><strong>&pound;23,741,465</strong></span>-->
                        <!--Approved</h1>-->

                        <div class="text-center">
                            <a href="apply.html">
                                <button type="submit" class="btn btn-default button-apply ">Apply Now</button>
                            </a>

                            <p class="text-center"><b>Representative APR 39.5%*</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==== Below Fold ==== -->
    </div>
</div>

<footer>
    <div class="container">
        <div class="row footerwrap social">
            <h3>Connect with us socially</h3>

            <div class="col-md-2"></div>
            <div class="col-md-2 col-sm-6">
                <a href="//twitter.com/voosiauk"><span class="fa fa-twitter-square twitter"></span></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="//www.facebook.com/pages/Voosia/1491538304458818"><span
                        class="fa fa-facebook-square facebook"></span></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="#"><span class="fa fa-google-plus-square googleplus"></span></a>
            </div>
            <div class="col-md-2 col-sm-6">
                <span class="fa fa-question" onclick="window.location='contact.html'"></span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="social_2">
            <div class="row">
                <div class="col-md-6">
                    <span class="small"><a href="terms.html">Terms & conditions</a></span>
                    <span>|</span>
                    <span class="small"><a href="privacy.html">Privacy policy</a></span>
                    <span>|</span>
                    <span class="small"><a href="contact.html">Contact</a></span>
                </div>
                <div class="col-md-6">
                    <p class="fa fa fa-certificate small">
                        Company number: 07677977,
                        FCA Number: 740572<br>
                        Data Protection: Z2787055.
                    </p>

                    <p class="fa fa-map-marker small">
                        <span class="dynamic-address-quiddihub"></span>
                    </p><br>

                    <p class="fa fa fa-envelope small">
                        support@voosia.com
                    </p>
                </div>
            </div>
        </div>
        <div class="row footerwrap">
            <div class="col-md-12">
                <p class="text-center">
                    © Voosia.co.uk is a registered Trading name of Quiddi Limited which is an Appointed Representative
                    of QV Holdco Ltd, and is entered on the Financial Services Register under reference number: 740572.
                    QV Holdco Ltd is authorised and regulated by the Financial Conduct Authority and is entered on the
                    Financial Services Register under reference number: 672826 <br>
                    Quiddi Limited is registered in England and Wales Company number: 07677977, registered office; 44-46
                    Windsor Road, Slough, SL1 2EJ, UK and Licensed by the Information Commissioners Office (registration
                    number: ZA141869)<br>

                    The operator of this website is not an agent or representative of consumers or any
                    lender and does not endorse the services offered by specific lenders. Quiddi Limited does not charge
                    borrowers a fee for the use of the brokerage services, but it receives a commission from lenders or
                    other brokers where borrowers enter into a consumer credit agreement with lenders and brokers
                    following
                    an introduction through this website. As a broker we process the information you provide us and pass
                    this onto our trusted third party lenders and brokers to help you apply for a loan. For more
                    information
                    on how we handle your data see our Privacy Policy. ¹ Subject to application being approved by the
                    lender. Not all lenders are able to provide up to £3000. ² Upon acceptance of the loan offer and
                    entry
                    into an agreement with the lender, the lender will transfer the cash within 24 hours. Clearance of
                    the
                    funds is dependent on whether your bank accepts faster payments.
                      </p>
            </div>
        </div>
    </div>
</footer>

<!--Slider Script start-->
<script src="libs/angular/angular.js"></script>
<script src="libs/ngstorage/ngStorage.js"></script>
<script src="js/readFromStorage.js"></script>

<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/jquery-ui/jquery-ui.min.js"></script>
<script src="libs/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script src="libs/jQuery-Storage-API/jquery.storageapi.min.js"></script>

<script type="text/javascript" src="assets/js/slider.js"></script>
<script type="text/javascript" src="libs/jquery-numerator/jquery-numerator.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--Cookie Script start-->
<script type="text/javascript" src="assets/js/jquery.cookiesdirective.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.cookiesDirective({
            privacyPolicyUri: 'privacy.html',
            duration: 5,
            position: 'bottom',
            explicitConsent: false
        });
    });
</script>
<!--Cookie Script end-->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/sitewide.js"></script>


<script src="//lookup.identi-k.it/static/dynamicContentLookup.js" type="text/javascript"></script>


</body>
</html>
